:root{

--dark-liver: #54494bff;
--mint-cream: #f1f7edff;
--turquoise-green: #91c7b1ff;
--bright-maroon: #b33951ff;
--flax: #e3d081ff;
--input-block:#E3D081;
--body-color:#E9C46A;

}

body{
    background-color:var(--body-color);
}
select{
    background-color:var(--input-block);
}
#form-title{

    font-size: 2em;
    text-align:center;
    font-family: 'Do Hyeon', sans-serif;
}

.sub-titles{

    text-align:center;
    font-style: italic;
    font-size:1.6em;
    font-family: 'Do Hyeon', sans-serif;
    
}

.info-style{


    margin-left:100px;
    text-align:center;
    width: 100px;
    background-color:grey;
}


.game{

background-color:green;

}

table{
    margin: 0 auto;
}

input[type=text]{
    
    width:300px;  
    background-color:var(--input-block);
}

input[type=search]{

    background-color:var(--input-block);
}

input[type=number]{

    background-color:var(--input-block);
}

input[type=url]{
    background-color:var(--input-block);
}
input[type=submit]{
    background-color:var(--input-block);

}

input[type=reset]{
    background-color:var(--input-block);
}

input[type=date]{

    background-color:var(--input-block);
    width: 200px;
}

input[type=ulr]{

    text-align:left;
    background-color:var(--input-block);
}


.inputs{

    max-width: 100%;
    background-color: goldenrod;
    width:400px;
}

.infos{

    text-align:center;
    background-color:var(--dark-liver);
    width: 200px;
    font-family: 'Do Hyeon', sans-serif;
}

.button{
    
 text-align: center;
}

input:required:valid,textarea:required:valid{
    background-image:url(/images/check.png);
    background-repeat:no-repeat;
    background-position:right;
}

input:required:invalid,input:focus:invalid, textarea:required:invalid,textarea:focus:invalid{
    background-image:url(/images/wrong.gif);
    background-repeat:no-repeat;
    background-position: right;

}

 @media only screen and (max-width:450px){

input[type=text]{

    max-width:90%;
    width: 70%;
}

} 




